/* src/app/components/project-details/project-details.component.css */
.project-image {
    width: 100%;
    border-radius: 8px;
    margin: 20px 0;
  }
  
  .error {
    color: red;
    text-align: center;
  }
  