<!-- src/app/components/navbar/navbar.component.html -->
<nav class="navbar">
    <div class="navbar-brand">
      <a routerLink="/">My Portfolio</a>
    </div>
    <ul class="navbar-links">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/projects">Projects</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <li><a routerLink="/feedback">Feedback</a></li>
      <li><a routerLink="/reactive-contact">Reactive Contact</a></li>
    </ul>
    <button (click)="toggleTheme()">Toggle Theme</button>
  </nav>
  